.clients-list {
  display: flex;
  column-gap: 30px;
}

.clients-list-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--primery-text-color);
  border-radius: 4px;
  transition: border var(--transition-dur-and-func);
  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
}

.clients-list-icon {
  fill: var(--primery-text-color);
  transition: fill var(--transition-dur-and-func);
  .clients-list-links:hover &,
  .clients-list-links:focus & {
    fill: var(--accent-color);
  }
}
